@page "{id:int}"
@model SwimmingWebApp.Areas.Admin.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить тренировку</h1>

<h3>Вы уверены, что хотите удалить эту тренировку?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата тренировки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.TrainingDate)
        </dd>
        <dt class="col-sm-2">
            Объем тренировки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.TrainingVolume)
        </dd>
        <dt class="col-sm-2">
            Ключевое задание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.KeyAssignment)
        </dd>
        <dt class="col-sm-2">
            Лучшее время задания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.KeyAssignmentBestTime)
        </dd>
        <dt class="col-sm-2">
            Самочувствие
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.Feeling)
        </dd>
        <dt class="col-sm-2">
            Пловец
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.Swimmer.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Training.TrainingId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к администрированию тренировок</a>
    </form>
</div>
